@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);

  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  /* height: 30vh; */
  min-height: 220px;  
  padding: 20px;
}

/* ------------ Player ------------ */

.player {
  max-width: 300px;
  padding: 10px;

  background-color: #00000080;
  box-shadow: 0 0 10px #000000;
  border: solid 1px #0000004a;
  border-radius: 10px;
}

.player__header {
  margin-bottom: 20px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px 0px;
}

.player__track-name {
  width: 100%;

  font-size: 24px;
}

.player__track-duration {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
}

.track-duration {
  width: 75%;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 120px;
  margin-bottom: 28px; */

  width: 45%;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;

  display: flex;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "";  
  width: 18px;
  height: 18px;
  margin-right: 15px;

  background-image: url("../assets/svg/play.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;

  cursor: pointer;
  /* position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900; */
}

.play-item_pause::before {
  background-image: url("../assets/svg/pause.svg");
}

.item-active {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote,
.settings-icon {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover,
.settings-icon:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active,
.settings-icon:active  {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

/* .player__sound {
  width: 55%;
} */

.player__sound {
  display: flex;
  align-items: center;
}
.sound {
  width: 20px;
  height: 20px;
  margin-right: 10px;

  background-image: url('../assets/svg/volume.svg');
  background-size: 20px 20px;
}

.mute {
  background-image: url('../assets/svg/mute.svg');
}

.sound-range {
  width: 90px;
}

input[type=range]{
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type=range]:focus {
  outline: none; 
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 15px;
  width: 8px;
  border-radius: 3px;
  background:#867621;

  cursor: pointer;
  margin-top: -4px;
}

/* ------------ End Player ------------ */

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 40vh; */
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  gap: 0 20px;
  align-items: center;
  width: 100%;
  /* height: 30vh; */
  min-height: 160px;  
  padding: 20px;
}

/* ---------- Settings ------------ */

.settings-button {
  background-image: url(../assets/svg/settings.svg);

  position: relative;

  align-self:flex-end;
}

.settings-menu {
  position: absolute;
  bottom: 7%;
  left: 20px;

  box-shadow: 0 0 10px #000000;
  /* border: solid 1px #0000004a; */
  border-radius: 10px;

  overflow: hidden;
  z-index: 1;
}

.settings {
  width: 500px;
  height: 500px;

  display: flex;

  background-color: #fff;

  color: #000000;
  /* overflow: auto; */
}

.settings__navigation {
  width: 30%;
  height: 100%;
  padding: 10px;

  background-color: rgb(148 167 29 / 38%);
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navigation__item {
  /* margin-bottom: 20px; */
  padding: 10px 0;

  cursor: pointer;
}

.settings-section {
  width: 70%;
  padding: 20px 20px;

  text-align: start;
  overflow: auto;
}

.settings-section__header {
  margin-bottom: 15px;

  border-bottom: 1px solid #00000045;
}

.settings-section__header-title {
  margin-bottom: 2px;
}

.settings-section__header-text {
  margin-bottom: 10px;
}

.settings-section__text {
  margin-bottom: 10px;;
}

/* .settings-section__photo-item,
.settings-section__language-item {
  display: block;
  cursor: pointer;
} */

.settings-item {
  margin-bottom: 10px;;

  display: block;
  cursor: pointer;
}

.general-section,
.photos-section,
.language-section {
  display: none;
}

.active-section {
  display: block;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
  max-width: 1000px;
}

.author {
  min-height: 20px;
  font-style: italic;
}

.todo {
  align-self:flex-end;
}

/* ---------- Effects ------------ */

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

/* ---------- ------------ */


@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}